@page "/ping"
@inject HttpClient Http

<PageTitle>Ping Server</PageTitle>

<h1>Ping Server</h1>

<p role="status">Result FRom Server: @_pingResult</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private string? _pingResult;

    protected async Task IncrementCount()
    {
        //pingResult = await Http.GetFromJsonAsync<string>("sample-data/weather.json");
        _pingResult = "result";
    }

}